BODY {
	BACKGROUND: url(cuaderno.gif) white repeat-y; MARGIN-LEFT: 70px; COLOR: black; FONT-FAMILY: Garamond, san-serif
}
H1 {
	BORDER-RIGHT: thin; BORDER-TOP: thin; FONT-WEIGHT: normal; FONT-SIZE: 150%; BACKGROUND: #000099; BORDER-LEFT: thin; WIDTH: 100%; COLOR: #ffffff; BORDER-BOTTOM: thin; FONT-FAMILY: sans-serif  , "Times New Roman"; TEXT-ALIGN: center
}
.titulo {
	BORDER-RIGHT: thin; BORDER-TOP: thin; FONT-WEIGHT: normal; FONT-SIZE: 150%; BACKGROUND: #000099; BORDER-LEFT: thin; WIDTH: 100%; COLOR: #ffffff; BORDER-BOTTOM: thin; FONT-FAMILY: sans-serif  , "Times New Roman"; TEXT-ALIGN: center
}
H1 A {
	COLOR: yellow
}
.titulo A {
	COLOR: yellow
}
.titulo2 {
	BORDER-RIGHT: thin; BORDER-TOP: thin; FONT-WEIGHT: normal; FONT-SIZE: 130%; BACKGROUND: #ffcc99; BORDER-LEFT: thin; WIDTH: 100%; COLOR: #000000; BORDER-BOTTOM: thin; FONT-FAMILY: sans-serif  , "Times New Roman"; TEXT-ALIGN: center
}
H2 {
	BORDER-RIGHT: thin; BORDER-TOP: thin; FONT-WEIGHT: bold; FONT-SIZE: 120%; BACKGROUND: #ffff99; BORDER-LEFT: thin; WIDTH: 100%; COLOR: navy; BORDER-BOTTOM: thin; FONT-FAMILY: "Garamond", "Times New Roman", serif
}
.subtitulo {
	BORDER-RIGHT: thin; BORDER-TOP: thin; FONT-WEIGHT: bold; FONT-SIZE: 120%; BACKGROUND: #ffff99; BORDER-LEFT: thin; WIDTH: 100%; COLOR: navy; BORDER-BOTTOM: thin; FONT-FAMILY: "Garamond", "Times New Roman", serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; PADDING-BOTTOM: 0%; FONT-FAMILY: "Garamond", "Times New Roman", serif
}
.apartado {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; PADDING-BOTTOM: 0%; FONT-FAMILY: "Garamond", "Times New Roman", serif
}
H4 {
	FONT-SIZE: 100%
}
H5 {
	FONT-SIZE: 90%
}
H6 {
	FONT-SIZE: 80%
}
PRE {
	FONT-FAMILY: monospace
}
UL {
	LIST-STYLE-POSITION: outside; LIST-STYLE-IMAGE: url(/graficas/bolaazul.gif)
}
UL UL {
	FONT-SIZE: 90%; LIST-STYLE-IMAGE: url(/graficas/bolaverde.gif)
}
UL.bolaazul {
	LIST-STYLE-POSITION: outside; LIST-STYLE-IMAGE: url(/graficas/ball_blue.gif)
}
UL.bolaverde {
	LIST-STYLE-POSITION: outside; LIST-STYLE-IMAGE: url(/graficas/ball_green.gif)
}
UL.bolaroja {
	LIST-STYLE-POSITION: outside; LIST-STYLE-IMAGE: url(/graficas/bolaroja.gif)
}
UL.romboazul {
	LIST-STYLE-POSITION: outside; LIST-STYLE-IMAGE: url(/graficas/rombo.gif)
}
UL.flecha {
	LIST-STYLE-POSITION: outside; LIST-STYLE-IMAGE: url(/graficas/next.gif)
}
NL {
	
}
.menu {
	COLOR: black; BACKGROUND-COLOR: #ffcc99
}
.menuclave {
	BACKGROUND-COLOR: #ffcc33
}
.encabezadotabla {
	FONT-WEIGHT: bold; BACKGROUND: aqua; TEXT-TRANSFORM: capitalize; COLOR: black; FONT-FAMILY: serif
}
.grande {
	FONT-SIZE: 130%
}
.pie {
	BACKGROUND: aqua
}
.chico {
	FONT-SIZE: 70%; FONT-FAMILY: "Arial", "Helvetica", sans-serif
}
.mediano {
	FONT-SIZE: 9pt; COLOR: #fff8e0; FONT-FAMILY: "Arial", "Helvetica", sans-serif
}
.algoritmo {
	BORDER-TOP: black 1px solid; FONT-SIZE: 90%; MARGIN: 10px; WIDTH: auto; COLOR: black; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: monospace,Arial; BACKGROUND-COLOR: white
}
.cuadrotexto {
	FONT-SIZE: 80%; FONT-FAMILY: monospace
}
